<h3>Listing <%=@growers.count%>  Growers</h3>
<%= link_to 'New Grower',new_tenant_grower_path %>

<div class="media">
  <div class="media-body">
    <table class='table table-hover'>
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <!-- <th>Lot count</th> -->
        <!-- <th>kg sum</th> -->
        <th>Mobile</th>
        <th>Phone</th>
       

      </tr>
    </thead>

    <tbody>
      <% @growers.each do |grower| %>
        <tr>
          <td><%= link_to 'P', tenant_grower_position_path(@tenant,grower)%></td>
          <td><%=link_to  grower.name,tenant_grower_path(@tenant,grower) %></td>
          <td><%= grower.mobile %></td>
          <td><%= grower.phone %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  </div>
</div>


