<h3>Listing Growers</h3>
<%= link_to 'New Grower',new_tenant_grower_path %>

<div class="media">
  <div class="media-body">
    <table class='table table-hover'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone</th>
        <th>Mobile</th>

      </tr>
    </thead>

    <tbody>
      <% @growers.each do |grower| %>
        <tr>
          <td><%=link_to  grower.name,tenant_grower_path(@tenant,grower) %></td>
          <td><%= grower.address %></td>
          <td><%= grower.phone %></td>
          <td><%= grower.mobile %></td>
          <td><%= grower.picture %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  <br>
  </div>
</div>


