<h4><%=link_to @grower.name,edit_tenant_grower_path(@tenant,@grower)%> position</h4>

<div class='media'>
	<div class='media-body'>
		<table class='table table-hover'>
		 <thead>
		 </thead>
		 <tbody>
		 <% @grower_lots.each do |lot|%>
		 <tr>
		 
		    <td><%=lot.created_at.strftime("%d-%m-%Y")%></td>
		    <td><%=link_to lot.lot,edit_tenant_lot_path(@tenant,lot)%></td>
		    <td><%=lot.purchase.pmu.location%></td>
            <td><%=number_with_precision(lot.kg,precision: 0 ,separator:',',delimiter:'.')%> kg  </td><td>x</td>
            <td><%=lot.purchase.price%> </td><td>=</td>
            <td><%=number_with_precision(lot.worth,precision: 2 ,separator:',',delimiter:'.')%> euro</td>
            <td><%=lot.note%></td>
            </tr>
            <%end%>
            <tr>
            <td></td>
            <td></td><td></td>
            <td><strong><%=number_with_precision(@grower_lots.sum(:kg),precision: 0 ,separator:',',delimiter:'.')%> </strong></td>
            <td></td><td></td><td></td>
            <td><strong><%= number_with_precision(@grower_lots.to_a.sum {|l| l.worth},precision: 2 ,separator:',',delimiter:'.')%></strong></td>
            </tr>
		 </tbody>
		 </table>
       <hr>
       <div>
           <% @grower_purchases.each do |purchase|%>
   <strong><%=purchase.pmu.location%></strong>
   (<%= purchase.lots_count%> lots):
   <br>
   in:<%=purchase.weight_in%>
   out:<%=purchase.weight_out%>
   missing:<%=purchase.missing_kgs%> 
   <strong><%=number_to_percentage(purchase.fyra_percent,precision: 2)%></strong>
   <br>
   <% palet_hash=purchase.palets.group(:packed_for).count%>
   <% total_palets=palet_hash.inject(0) {|sum,tuple| sum+=tuple[1]}%>
   <%palet_hash.each do |k,v|%>
   <%=k%>: <%=number_to_percentage(v/total_palets.to_f*100,precision:0)%>
   
   <%end%>
   <br>
<%end%>
</div>
<hr>
        <span> <h4>
        Cartons: <%=@grower.palet_line_items.sum(:cartons)%>  Palets grapes are in:<%=@grower.palets.count%> </h4></span>
        <span> <h4>kg:<%=@grower.palet_line_items.sum(:cartons)*5%>
         | Missing:<%=@grower.lots.sum(:kg)-@grower.palet_line_items.sum(:cartons)*5%> kg |
         Added cost:<%=number_with_precision((@grower.lots.sum(:kg)-@grower.palet_line_items.sum(:cartons)*5)/(@grower.lots.sum(:kg).to_f/100),precision: 1,seperator:',',delimiter:'.')%> %</h4></span>
         
           <% palet_hash= @grower.palets.group(:packed_for).count%>
           <%total_palets=palet_hash.inject(0) {|sum ,tuple| sum+=tuple[1]}%>
          <br>
             <div>
            <% palet_hash.each do |k,v|%>    
              <h4> <%=k%>:<%= number_to_percentage(v/total_palets.to_f*100,precision:0)%></h4>          
               <%end%>
         </div>

	 </div>
 </div>