<h4><%=link_to @grower.name,edit_tenant_grower_path(@tenant,@grower)%> position</h4>

<div class='media'>
	<div class='media-body'>
		<table class='table table-hover'>
		 <thead>
		 </thead>
		 <tbody>
		 <% @grower_lots.each do |lot|%>
		 <tr>
		 
		    <td><%=lot.created_at.strftime("%d-%m-%Y")%></td>
		    <td><%=link_to lot.lot,edit_tenant_lot_path(@tenant,lot)%></td>
		    <td><%=lot.purchase.pmu.location%></td>
            <td><%=number_with_precision(lot.kg,precision: 0 ,separator:',',delimiter:'.')%> kg  </td><td>x</td>
            <td><%=lot.purchase.price%> </td><td>=</td>
            <td><%=number_with_precision(lot.worth,precision: 2 ,separator:',',delimiter:'.')%> euro</td>
            </tr>
            <%end%>
            <tr>
            <td></td>
            <td></td><td></td>
            <td><strong><%=number_with_precision(@grower_lots.sum(:kg),precision: 0 ,separator:',',delimiter:'.')%> </strong></td>
            <td></td><td></td><td></td>
            <td><strong><%= number_with_precision(@grower_lots.to_a.sum {|l| l.worth},precision: 2 ,separator:',',delimiter:'.')%></strong></td>
            </tr>
		 </tbody>
		 </table>
         <h4>Palets grapes are in:<%=@grower.palets.count%></h4>
         <h4>Packed:<%=@grower.palet_line_items.sum(:cartons)%>cartons</h4>
         <h4>kg:<%=@grower.palet_line_items.sum(:cartons)*5%></h4> 
         <h4>Missing:<%=@grower.lots.sum(:kg)-@grower.palet_line_items.sum(:cartons)*5%></h4>
         <h4>Added cost:<%=(@grower.lots.sum(:kg)-@grower.palet_line_items.sum(:cartons)*5)/(@grower.lots.sum(:kg).to_f)%> %</h4>
         <h4>Distribution:</h4>
       
         <% @grower.palets.group(:packed_for).count.each do |k,v|%>
            <% gr_kgs=@grower.lots.sum(:kg)%>
            <%=k%> <%=v%> 
            <br/>
             <%=v/gr_kgs.to_f*100%>
             <br>
        

            <%end%>
            </ul>

         
	 </div>
 </div>