
 
 <h3> <%= @grower.name %></h3>


<p>
  <strong>Address:</strong>
  <%= @grower.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @grower.phone %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @grower.mobile %>
</p>

<p>
  <strong>Vat:</strong>
  <%= @grower.vat %>
</p>

<p>
  <strong>GGN:</strong>
  <%= @grower.ggn %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @grower.picture %>
</p>

<%= link_to 'Edit', edit_tenant_grower_path(@tenant,@grower) %> |
<%= link_to 'Back', tenant_growers_path %> |
<%= link_to 'Delete',tenant_grower_path, method: :delete, data: { confirm: 'Are you sure?' } %>
</td>
<hr>

<div>
Purchases:
<% @pmus.each do |pmu|%>
<br>
  <%="#{pmu.location} " %>
  <%= pmu.purchases.last.try(:price)%><br/>
  <%end%>
<%=link_to 'Add Pmu',new_tenant_grower_pmu_path(@tenant,@grower) %>
</div>
<hr>

<div>
Lots
</div>
<hr>
<div>
Loose Berries
</div>
<hr>
<div>
Financials
</div>

