<h3>Palets</h3>
<%= link_to 'New Palet',new_tenant_palet_path(@tenant) %>
<div>
Ready for loading:<%= @available_palets.count%> palets <br>

Last Palet packed <%=Palet.where(loading_id:nil).last.try(:code)%>

</div>

<section class='palet-list'>
    <table class='table'>
      <tbody>
        <% @palets.each do |palet|%> 
        
		  <tr>
		  	  <td><%=palet.date.strftime("%a %d %m")%></td>
              <td><%= palet.date.strftime(" %H:%M") %></td>
              <td><%=link_to palet.code ,edit_tenant_palet_path(@tenant,palet)%></td>
              <td><%=palet.note%></td>
               <td><%=palet.packed_for%></td>
               <td><%= palet.palet_line_items.sum(:cartons)%></td>

              <td><% palet.palet_line_items.each do |pli|%> 
                    <%=pli.lot.try(:lot)%>
                    <%=pli.cartons%> cartons
                    <%=pli.lot.try(:purchase).try(:details) %><br/>
                      <%end%>
              </td>
            </tr>
        <%end%>
             
	      </tbody>
      </table>
</section>
   
  

