<h3>Listing the Palets</h3>
<h4><%=@palets.count%>|<%=@cartons%>|<%=@kg_packed%></h4>



<%= link_to 'New Palet',new_tenant_palet_path(@tenant) %>

<div class="media">
  <div class='media-body'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Date</th>
          <th>Code</th>
          <th>For</th>
          <th>Cartons</th>
          <th>Lot  info </th>
         
          <th>Note</th>
         
          
        </tr>
      </thead>

      <tbody> 
        <% @palets.each do |palet| %>
          <tr> 
            <td><%= palet.date.strftime("%e %b %H:%y") %></td>
            <td><%=link_to palet.code,edit_tenant_palet_path(@tenant,palet)%></td>
             <td><%=palet.packed_for%></td>
             <td><%= palet.palet_line_items.sum(:cartons)%></td>
            <td><%  palet.palet_line_items.each do |pli|%> 
            <%=pli.lot.try(:lot)%>
            <%=pli.cartons%> cartons
          <%=pli.lot.try(:purchase).try(:details) %><br/>
            <%end%></td>
            <td><%=palet.note%></td>
            
          </tr>
        <% end %>
      </tbody>
    </table>
        <br>
    </div>
</div>
   
