<p>
  <strong>Date:</strong>
  <%= @loading.date %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @loading.customer %>
</p>

<p>
  <strong>Eta:</strong>
  <%= @loading.eta %>
</p>

<p>
  <strong>Delivered:</strong>
  <%= @loading.delivered %>
</p>

<%= link_to 'Edit', edit_tenant_loading_path(@tenant,@loading) %> |
<%= link_to 'Destroy',[@tenant, @loading], method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', tenant_loadings_path %>
<hr>
<div class='row'>
<div class='col-md-4'>
  <h4><%=@palets.count%> palets: </h4>
		<ul>
			<% @palets.each do |palet| %>
				<li><%=link_to palet.code,tenant_palet_path(@tenant,palet)%>
        
        <%=palet.note%>
          <% palet.lots.each do |lot|%>
          <%=lot.lot%>
          <%end%>
        </li>
			<%end%>
		</ul>
</div>

<div class='col-md-4'>
  <div class='media'>
  <div class='media-body'>

      <div class='table table-hover'>
        <h4>Lots: <%=@loading.lots.distinct.count%></h4>
        <thead></thead>
        <tbody>
          <% @loading.lots.distinct.each do |lot|%>
            <tr>
              <td><%=lot.lot_description%></td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    </div>
    </div>

  </div>
</div>
 
