<h3>
Loading</h3>
<p>
  Date:
  <strong><%= @loading.date.strftime('%d %b %Y %H:%M') %></strong>
</p>

<p>
 Customer:
 <strong> <%= @loading.customer %></strong>
</p>
<p>
Purchase Order:
<strong><%=@loading.purchase_order%></strong>

<p>
  Edta:
  <%= @loading.eta.strftime('%d %b') %>
</p>

<p>
 Delivered:
  <%=@loading.delivered%>
</p>

<%= link_to 'Edit', edit_tenant_loading_path(@tenant,@loading) %> |
<%= link_to 'Delete',[@tenant, @loading], method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', tenant_loadings_path %>
<hr>
<div class='row'>
<div class='col-md-2'>
  <h4><%=@palets.count%> palets: </h4>
  </div>
  <div class='col-md-4'>
		
			<% @palets.each do |palet| %>
				<strong><%=link_to palet.code,tenant_palet_path(@tenant,palet)%> </strong><%=palet.lots.count %> lots <%=palet.note%></br>
    
          <% palet.lots.each do |lot|%>
          <%=lot.lot%>
          <%end%>
        <br>
			<%end%>
		
</div>

<div class='col-md-2'>
        <h4> <%=@loading.lots.distinct.count%> Lots:</h4>
        </div>
  <div class='media'>
  <div class='media-body'>

      <div class='table table-hover'>
        <thead></thead>
        <tbody>
          <% @loading.lots.group(:id).each do |lot|%>
            <tr>
              <td><strong><%=link_to lot.lot,tenant_lot_path(@tenant,lot)%></strong> in <%=lot.palets.count%> palets
            <br/>           
              </td>
              <td><%lot.palets.each do |palet|%>
              <%=palet.code%>
              <%end%><br>
            </tr>
          <%end%>
        </tbody>
      </table>
    </div>
    </div>
    </div>

  </div>
</div>
 
