<%= form_for([@tenant,@crate]) do |f| %>
  <% if @crate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@crate.errors.count, "error") %> prohibited this crate from being saved:</h2>

      <ul>
      <% @crate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  


  <div class="form-group">
    <%= f.label :driver_id %>
        <%=f.collection_select(:worker_id,Worker.drivers.where(tenant_id:params[:tenant_id]).order(name: :asc),:id,:name,{:prompt=>true},{:class=>'form-control'})%>
  </div>

  
  <div class="form-group">
    <%= f.label :crates,class:'control-label' %><br>
    <%= f.number_field :crates,class:'form-control' %>
  </div>
  
 
  <div class="form-group">
    <%= f.label :from_pmu_id,class:'control-label' %><br>
        <%=f.grouped_collection_select(:from_pmu_id,Grower.where(tenant_id:params[:tenant_id]).order(name: :asc),:pmus,:name,:id,:location,{:prompt=> true},{:class=>'form-control'})%>

  </div>

  <div class="form-group">
    <%= f.label :to_pmu_id,class:'control-label' %><br>
        <%=f.grouped_collection_select(:to_pmu_id,Grower.where(tenant_id:params[:tenant_id]).order(name: :asc),:pmus,:name,:id,:location,{:prompt=> true},{:class=>'form-control'})%>
  </div>
  
  <div class="form-group">
    <%= f.label :note,class:'control-label' %><br>
    <%= f.text_field :note,class:'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
