
<h1>Listing Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Price</th>
      <th>Note</th>
      <th>Tenant</th>
      <th>Pmu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= purchase.price %></td>
        <td><%= purchase.note %></td>
        <td><%= purchase.tenant_id %></td>
        <td><%= purchase.pmu_id %></td>
        <td><%= link_to 'Show',[ @tenant,purchase]%></td>
        <td><%= link_to 'Edit', edit_tenant_purchase_path(@tenant,purchase) %></td>
        <td><%= link_to 'Destroy', [@tenant,purchase], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_tenant_purchase_path(@tenant) %>
