
<h1>Listing Purchases</h1>

<table>
  <thead>
    <tr>
      <th>Pmu</th>
      <th>Price</th>
      <th>Note</th>
      <th>Tenant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @purchases.each do |purchase| %>
      <tr>
        <td><%= link_to purchase.pmu.location ,tenant_purchase_path(@tenant,purchase) %></td>
        <td><%= purchase.price %></td>
        <td><%= purchase.note %></td>
        <td><%= purchase.tenant_id %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Purchase', new_tenant_purchase_path(@tenant) %>
