<p id="notice"><%= notice %></p>

<p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>

<p>
  <strong>Note:</strong>
  <%= @purchase.note %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @purchase.tenant_id %>
</p>

<p>
  <strong>Pmu:</strong>
  <%= @purchase.pmu_id %>
</p>

<%= link_to 'Edit', edit_purchase_path(@purchase) %> |
<%= link_to 'Back', purchases_path %>
