
<p>
  <strong>Pmu:</strong>
  <%= @purchase.pmu.details %>
</p>
<p>
  <strong>Date:</strong>
  <%= @purchase.created_at.strftime('%d %h %Y')%>
</p>
  <strong>Price:</strong>
  <%= @purchase.price %>
</p>
</p>
  <strong>Analysis:</strong>
  <%= @purchase.analysis %>
</p>
<p>
  <strong>Note:</strong>
  <%= @purchase.note %>
</p>



<%= link_to 'Edit', edit_tenant_purchase_path(@tenant,@purchase) %>  | 
<%= link_to 'Delete',tenant_purchase_path(@tenant,@purchase),method: :delete,date:{confirm:'Are you sure ?'}%> | 
<%= link_to 'Back',tenant_purchases_path %>

