<%= form_for([@tenant,@grower,@pmu]) do |f| %>
  <% if @pmu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pmu.errors.count, "error") %> prohibited this pmu from being saved:</h2>

      <ul>
      <% @pmu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :certification %><br>
    <%= f.text_field :certification %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br>
    <%= f.text_field :project_id %>
  </div>
  <div class="field">
    <%= f.label :latitude %><br>
    <%= f.text_field :latitude %>
  </div>
  <div class="field">
    <%= f.label :longitude %><br>
    <%= f.text_field :longitude %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script type="text/javascript">
	handler = Gmaps.build('Google');    // map init
	handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
			 // show the empty map
			handler.fitMapToBounds();
			handler.map.centerOn([52.10, 19.30]);
			handler.getMap().setZoom(6);
		}
	});

	var markerOnMap;
function placeMarker(location) {    // simply method for put new marker on map
		if (markerOnMap) {
			markerOnMap.setPosition(location);
		}
		else {
			markerOnMap = new google.maps.Marker({
				position: location,
				map: handler.getMap()
			});
		}
	}

	google.maps.event.addListener(handler.getMap(), 'click', function(event) {    // event for click-put marker on map and pass coordinates to hidden fields in form
		placeMarker(event.latLng);
		document.getElementById("map_lat").value = event.latLng.lat();
		document.getElementById("map_lng").value = event.latLng.lng();
	});
}

</script>
