
<p>
  <strong>Produce:</strong>
  <%= @pmu.produce %>
</p>

<p>
  <strong>Village:</strong>
  <%= @pmu.village %>
</p>

<p>
  <strong>Location:</strong>
  <%= @pmu.location %>
</p>

<p>
  <strong>Size:</strong>
  <%= @pmu.size %>
</p>

<p>
  <strong>Plants:</strong>
  <%= @pmu.plants %>
</p>

<p>
  <strong>Production:</strong>
  <%= @pmu.production %>
</p>

<p>
  <strong>Facilities:</strong>
  <%= @pmu.facilities %>
</p>

<p>
  <strong>Certification:</strong>
  <%= @pmu.certification %>
</p>

<p>
  <strong>Project:</strong>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @pmu.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @pmu.longitude %>
</p>

<%= link_to 'Edit', edit_tenant_grower_pmu_path(@tenant,@grower,@pmu) %> |
<%= link_to 'Back', tenant_grower_pmus_path %>
<hr>
<!-- <div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div> -->
<div id="map-container">
  <div id="map-canvas"></div>
</div>


<script>
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id:'map-canvas'}}, function(){
        markers = handler.addMarkers(<%=raw @hash.to_json%>, {draggable: true});
        handler.bounds.extendWith(markers);
        handler.fitMapToBounds();
        handler.getMap().setZoom(15);    // set the default zoom of the map
});   

// function initialize() {
//     var latlng = new google.maps.LatLng(-34.397, 150.644);
//     var myOptions = {
//         zoom: 8,
//         center: latlng,
//         mapTypeId: google.maps.MapTypeId.ROADMAP
//     };
//     var map = new google.maps.Map(document.getElementById("map_canvas"),
//             myOptions);
// }
// google.maps.event.addDomListener(window, "load", initialize);

</script>
