
<p>
 
<h3><%= @course.name %></h3>
</p>

<%= link_to 'Edit', edit_tenant_course_path(@tenant,@course) %> |<%= link_to 'Destroy', [@tenant,@course], method: :delete, data: { confirm: 'Are you sure?' } %>|
<%= link_to 'Back', tenant_courses_path %>
<hr>
Shifts:
<%=link_to 'new Shift',new_tenant_course_shift_list_path(@tenant,@course)%>

