<%= form_for([@tenant,@worker]) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :course_id ,class:'control-label'%><br>
    <%= f.collection_select(:course_id,Course.where(tenant_id:params[:tenant_id]),:id,:name,{prompt: true},{class:'form-control'}) %>
    </div>

  <div class="form-group">
    <%= f.label :last_name ,class:'control-label'%><br>
    <%= f.text_field :last_name ,class:'form-control'%>
  </div>

   <div class="form-group">
    <%= f.label :first_name ,class:'control-label'%><br>
    <%= f.text_field :first_name ,class:'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :mobile,class:'control-label' %><br>
    <%= f.text_field :mobile ,class:'form-control'%>
  </div>
  
<div class="form-group">
    <%= f.label :phone,class:'control-label' %><br>
    <%= f.text_field :phone ,class:'form-control'%>
  </div>

  <div class="form-group">
    <%= f.label :age,class:'control-label' %><br>
    <%= f.text_field :age ,class:'form-control'%>
  </div>
  

<div class="form-group">
    <%= f.label :insurance,class:'control-label' %><br>
    <%= f.select :insurance,[['IKA','IKA'],['ΟΓΑ','OGA']],{},{class:'form-control'}%>
</div>




<div class="form-group">
    <%= f.label :active,class:'control-label' %><br>
    <%= f.check_box :active ,class:'form-control'%>
  </div>
    
  



  <div class="form-group">
    <%= f.hidden_field :tenant_id %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
