
<h3>Listing Workers</h3>

<%=link_to"add Worker",new_tenant_worker_path(@tenant)%>
<h5>Import Workers</h5>
<%= form_tag import_tenant_workers_path, multipart: true do %>
  <%= file_field_tag :file %>
  <div>
  <%= submit_tag "Import",class:'import' %>
  </div>
<% end %>

<div class='media'>
  <div class='media-body'>
  <table>
                        <thead>Header test </thead>
           <%if @workers_hash %>
            <% @workers_hash.each do |k,v| %>
                       <h4><%=k.capitalize%>:</h4>
                    <table class='table table-hover'>
                        <tbody>
                           <% v.each do |worker|%>
                              <tr>
                                 <td><%= worker.type%></td>
                                 <td><%=link_to worker.name,tenant_worker_path(@tenant,worker)%></td>
                                 <td><%=worker.mobile %></td>
                                 <td><%=worker.status %></td>
                               </tr>
                              <%end%>
                       </tbody>
                    </table>
                 <%end%>
          <%end%>
             
              
          </table>
  </div>
</div>




