
<p>
  <strong>Photo:</strong>
  <%= @worker.photo %>
</p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Works at:</strong>
  <%= @worker.work_for %>
</p>
<p>
  <strong>Mobile:</strong>
  <%= @worker.mobile %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @worker.phone %>
</p>
<p>
  <strong>Birthday:</strong>
  <%= @worker.birthday %>
</p>
<p>
  <strong>Area:</strong>
  <%= @worker.area %>
</p>
<p>
<p>
  <strong>Insurance:</strong>
  <%= @worker.insurance %>
</p>
  <strong>Working Experience:</strong>
  <%= @worker.working_experience %>
</p>

<p>
  <strong>Status:</strong>
  <%= @worker.status %>
  <!-- use humanize to capitalize the status integer -->
</p>

<%= link_to 'Edit', edit_tenant_worker_path(@tenant,@worker) %> |
<%= link_to 'Destroy',tenant_worker_path(@tenant,@worker), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tenant_workers_path %>

