<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @worker.mobile %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @worker.tenant_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @worker.course_id %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', workers_path %>
