
<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @worker.mobile %>
</p>

<p>
  <strong>Tenant:</strong>
  <%= @worker.tenant_id %>
</p>

<p>
  <strong>Course:</strong>
  <%= @worker.course_id %>
</p>

<%= link_to 'Edit', edit_tenant_worker_path(@tenant,@worker) %> |
<%= link_to 'Destroy',[@tenant,@worker], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tenant_workers_path %>

