     <div class='nested-fields'>
        <!-- <div class='row'> -->
            <!-- <div class='col-xs-12 line_items'> -->
                <%= f.text_field :mixed_weight,placeholder:"Weight",class:'col-md-2',class:'mixed_weight'%>
                 <%= f.text_field :crates,placeholder:"Σύνολο Κλουβών",class:'col-md-1',class:'crates' %>
                   <%= f.text_field :palets,placeholder:"Σύνολο Ζυγίσεων",class:'col-md-1',class:'palets' %>
                  <%= f.text_field :crate_weight,placeholder:"Crate Weight" ,class:'col-md-1',class:'crate_weight'%>
                    <%= f.text_field :palet_weight,placeholder:"Palet Weight",class:'col-md-1',class:'palet_weight'%>
           
                    <div class='out'></div>
                    <div class='mixed_crate_weight'></div>
                   <!-- #<%= link_to_remove_association "remove",f %> -->
                    </div>
                  <!-- <div class= 'col-md-3'> -->
                  
            <!-- </diiv> -->
         <!-- </div> -->

     </div>
 