<tr class="nested-fields">
    <td class="field">
    <%= f.text_field :mixed_weight,placeholder:"Weight",class:'mixed_weight'%><br/>
    </td>
    <td class="field">
     <%= f.text_field :crates,placeholder:"Σύνολο Κλουβών",class:'crates' %>
    </td>
    <td class="field"><%= f.text_field :palets,placeholder:"Σύνολο Ζυγίσεων",class:'palets' %>
    </td>
     <td class="field">
    <%= f.text_field :crate_weight,placeholder:"Crate Weight" ,class:'crate_weight'%>
     </td>
     <td class="field">
   <%= f.text_field :palet_weight,placeholder:"Palet Weight",class:'palet_weight'%>
  </td>
   <td class="field">
  </td>
     <td class="field">
   <%= f.text_field :price_difference,placeholder:"Palet Weight",class:'palet_weight'%>
  </td>  

  <td><%= link_to_remove_association "remove",f %></td> 
</tr>
 
