<h3>Lots</h3>
<%=link_to 'New Lot' ,new_tenant_lot_path%>



<table class='table'>
    <tbody>
    <div class='row'>
      <div class='col-md-3'>
      <% @daily_lots.each do |day, lots| %>
        <table class='table table-hover'>
          <h4><strong><%= day.strftime('%d %b ') %></strong>
              <% unless lots.nil? %>
                  <br><%=number_with_precision(lots.inject(0){|sum,e| sum += e.kg},precision:0,seperator:',',delimiter:'.')%></h4>
        </div>
        <div class='col-md-9'>
          <% for lot in lots %> 
           <tr>
            <td> 
              <%= link_to lot.lot,tenant_lot_path(@tenant,lot)%>
               <%= lot.kg %>kg 
              <%= lot.purchase.details  %>
               <br>
              <strong><%=lot.note%></strong> 
          <% end %>
              </td>
            
      <% end %>   
        <br/>
        <% end %>
        </div>
          </table>

  </tbody>
        </div>
      </div>
      </div>
</div>

</table>
