<h3>Lots</h3>
<%=link_to 'New Lot' ,new_tenant_lot_path%>
<div class='media'>
  <div class='media-body'>
<table class='table table-hover'>
  <thead>
    <tr>
      <th></th>
    </tr>
  </thead>
  <div class='media'>
  <div class='media-body'>
  <tbody>
      <% @daily_lots.each do |day, lots| %>
      <h4><strong><%= day.strftime('%d %b ') %></strong>
      <span><%=number_with_precision(lots.inject(0){|sum,e| sum += e.kg},precision:0,seperator:',',delimiter:'.')%></span></h4>

      <tr>
        <% for lot in lots %>
        <div class='table table-hover'>
             <%= link_to lot.lot,edit_tenant_lot_path(@tenant,lot)%>
             <%= lot.kg %>kg <br>
             <%= lot.purchase.details%>
        </div>
        <% end %>
       </tr>    
      <% end %>   
      </div>
      </div>
  </tbody>
</table>
<br/>
</div>
</div>