<h4><%= @lot.lot %></h4>
Grower:<%= @lot.purchase.pmu.grower.name %><br>
Location:<%= @lot.purchase.pmu.location %><br>
Date:<%= @lot.created_at.strftime("%d-%m-%M") %>
Time:<%=@lot.created_at.strftime("%H:%M")%>

		
<hr>
Weighings:<br>
<div class='media'>
	<div class='media-body'>
		<table class='table table-hover'>
			<tr>
			<th>Time</th><th>Mixed Weight</th><th> Crates</th><th>CW</th><th>Palets</th><th>PW</th><th>Net Weight</th>
			 </tr>
			<tbody>
			<% @lot.weighings.each do |weighing| %>
				<tr>
					<td><%=weighing.created_at.strftime("%H:%M")%></td>
					<td><%= weighing.mixed_weight%></td>
					<td><%=weighing.crates%></td>
					<td><%=weighing.crate_weight%></td>
					<td><%=weighing.palets%></td>
					<td><%=weighing.palet_weight%></td>
					<td><%=weighing.net_weight %></td>
				</tr>
			</tbody>
			<%end%>
				<tr>
				<td></td> 
				<td><%= @lot.weighings.sum(:mixed_weight) %></td>
				<td><%= @lot.weighings.sum(:crates) %></td>
				<td></td>
				<td></td>
				<td></td>
				<td><%= @lot.weighings.to_a.sum{|l| l.net_weight}%></td>

		</table>
	</div>
</div>