

<h3>
  <strong>
 Work shift for  <%= @shift_list.start_at.strftime('%a %d %b %y') %></strong>
</h3>


<p>
  <strong>Start at:</strong>
  <%= @shift_list.start_at.strftime('%H:%M') %>
</p>

<p>
  <strong>End at:</strong>
  <%= @shift_list.end_at.strftime('%H:%M') %>
</p>

<p>
  <strong>Note:</strong>
  <%= @shift_list.note %>
</p>

<%= link_to 'Edit', edit_tenant_shift_list_path(@tenant,@shift_list) %> |
 <%= link_to 'Destroy',[@tenant,@shift_list], method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', tenant_shift_lists_path %>

<hr>
<p>
People:<strong><%=@attendances.count%></strong>
Hours worked:<strong><%=@shift_list.hours_worked%></strong>
Work Hours:<strong><%=@attendances.count*@shift_list.hours_worked%></strong>
</p>
<table class='table table-condensed'>
<tbody>
<% @attendances.each do |attendance| %>
<tr>
<td><%=attendance.worker.name%></td>
<td><%=attendance.shift_list.hours_worked%></td>
<td><%=attendance.shift_list.hours_worked*4%></td>
</tr>
<%end%>
</tbody>

</table>
