<div class='row'>
<%= form_for([@tenant,@loose_berry]) do |f| %>
  <% if @loose_berry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loose_berry.errors.count, "error") %> prohibited this loose_berry from being saved:</h2>

      <ul>
      <% @loose_berry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.hidden_field:tenant_id %>
  </div>
  <div class="form-group">
    <%= f.label :kg, class:'control-label'%><br>
    <%= f.text_field :kg , class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :purchase_id,"From",class:'control-label' %><br>
    <%= f.collection_select(:purchase_id,Purchase.where(tenant_id:params[:tenant_id]),:id,:details,{prompt: true},{:class=>'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.label :note ,class:'control-label'%><br>
    <%= f.text_field :note, class: 'form-control' %>
  </div>
  <div class="actions">
    <%= f.submit class:'btn btn-default'%>
  </div>
<% end %>
</div>
