

<p>
  <strong>Kg:</strong>
  <%= @loose_berry.kg %>
</p>
<p>
  <strong>From:</strong>
  <%= @loose_berry.purchase.details %>
</p>
<p>
  <strong>Note:</strong>
  <%= @loose_berry.note %>
</p>

<%= link_to 'Edit', edit_tenant_loose_berry_path(@tenant,@loose_berry) %> |
<%= link_to 'Back', tenant_loose_berries_path %>
