<p id="notice"><%= notice %></p>

<h1>Listing Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Shift list</th>
      <th>Worker</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.shift_list.start_at%></td>
        <td><%= attendance.worker.name %></td>
        <td><%= link_to 'Show',tenant_attendance_path(@tenant,attendance)%></td>
        <td><%= link_to 'Edit', edit_tenant_attendance_path(@tenant,attendance) %></td>
        <td><%= link_to 'Destroy',[@tenant, attendance], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_tenant_attendance_path %>
