<p id="notice"><%= notice %></p>

<p>
  <strong>Shift list:</strong>
  <%= @attendance.shift_list %>
</p>

<p>
  <strong>Worker:</strong>
  <%= @attendance.worker %>
</p>

<%= link_to 'Edit', edit_tenant_attendance_path(@tenant,@attendance) %> |
<%= link_to 'Back', tenant_attendances_path(@tenant) %>
