<h1>Reports</h1>

Kgs in :<%=@kgs_in%>  updated:<%=@lots.last.created_at.strftime('%H:%M  %d %m')%>
<br>

kgs out:<%=@kgs_packed%> updated:<%=@palet_line_items.last.created_at.strftime('%H:%M %d %m')%>
<br>
fyra: <%=@fyra%> <%=number_to_percentage(@fyra_percentage,precision: 2)%><br>