<p id="notice"><%= notice %></p>

<h1>Listing Att Performances</h1>

<table>
  <thead>
    <tr>
      <th>Attendance</th>
      <th>Tenant</th>
      <th>Work position</th>
      <th>Cartons packed</th>
      <th>Late arrival</th>
      <th>Early leave</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @att_performances.each do |att_performance| %>
      <tr>
        <td><%= att_performance.attendance_id %></td>
        <td><%= att_performance.tenant_id %></td>
        <td><%= att_performance.work_position %></td>
        <td><%= att_performance.cartons_packed %></td>
        <td><%= att_performance.late_arrival %></td>
        <td><%= att_performance.early_leave %></td>
        <td><%= link_to 'Show', att_performance %></td>
        <td><%= link_to 'Edit', edit_att_performance_path(att_performance) %></td>
        <td><%= link_to 'Destroy', att_performance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Att performance', new_att_performance_path %>
