
<div style='padding-top: 55px;'>
	<ul class="nav nav-pills nav-stacked">
		<li><%=link_to 'Growers',tenant_growers_path(@tenant)%></li>
		<li><%=link_to 'Pmus',tenant_pmus_path(@tenant)%></li>
		<li><%=link_to 'Purchases',tenant_purchases_path(@tenant)%></li>
		<li><%=link_to 'Lots',tenant_lots_path(@tenant)%></li>
		<li><%=link_to 'Loose Berries',tenant_loose_berries_path(@tenant)%></li>
		<li><%=link_to 'Palets',tenant_palets_path(@tenant)%></li>
		<li><%=link_to 'Loadings',tenant_loadings_path(@tenant)%></li>
	</ul>
</div>

<div style='padding-top: 55px;'>
	<ul class="nav nav-pills nav-stacked">
		<li><%=link_to 'Workgroups',tenant_workgroups_path(@tenant)%></li>
		<li><%=link_to 'Shifts',tenant_shift_lists_path(@tenant)%></li>
		<li><%=link_to 'Workers',tenant_workers_path(@tenant)%></li>
		
	</ul>
</div>
